<section class="product__container">
    <div class="product-image__container">
        <img [src]="produtos?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name"> {{produtos?.descricao}} </h2>
        <h3 class="product__prince"> {{produtos?.preco | currency:"BRL"}}</h3>
        <p>Estoque disponível:</p>
        <label>
            Quantidade
            <input type="number" [(ngModel)]="quantidade" min="1">
            {{produtos?.quantidadeEstoque}} unidade(s)
        </label>
        <p class="product__avaiability">
            10 udidade(s) em estoque
        </p>
        <button (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </div>
</section>
